# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.flx
**/ios/Flutter/engine/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/xcuserdata

# Linux
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugins.cmake

# C++ build artifacts
src/build/
*.so
*.dylib
*.dll
*.o
*.a

# Python
python/__pycache__/
*.pyo
*.pyd

# Build output
build/

# macOS, Windows, Web (not targeting these)
/macos/
/windows/
/web/
